html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.ui-menu {
	width: 50px;
}

#year-control {
	margin-top: 15px;
	margin-left: 15px;
}

#year-control .selected {
	color: #c77405;
}

#score-control {
	margin-top: 15px;
	margin-left: 25px;
}